.header__lang-link {
  display: inline;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  transition: opacity 0.3s linear;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:visited {
  color: white;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
