.cover__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
  padding-top: 32px;
  text-align: center;
  margin: 0;
  max-width: 360px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
