.lead {
  max-width: calc(100% - 148px * 2);
  margin: 0 auto;
  padding: 56px 0 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 48px 0 0 0;
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
  }
}
