.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-top: 12px;
  text-decoration-line: underline;
  color: #ffffff;
  display: block;
  transition: opacity 0.3s linear;
}

.place__link:hover {
  opacity: 0.8;
}

.place__link:visited {
  color: white;
}
