.lead__caption {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  max-width: 984px;
  width: 100%;
  margin: 8px auto 0;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    width: calc(100% - 16px * 2);
  }
}
